In [1]:
# import Pandas and read school csv
import pandas as pd
school_file = "Pandas_Data/schools_complete.csv"
school_file_df = pd.read_csv(school_file)
# school_file_df.head()

In [2]:
# Total number of Schools, Students, and budget 
total_num_schools = len("school_name")
total_students = school_file_df["size"].sum()
total_budget = school_file_df["budget"].sum()
student_count = school_file_df.groupby(["school_name"])["size"].max()

In [3]:
# Budget per Student 
school_file_df["budget_student"] = school_file_df["budget"] / school_file_df["size"]

In [6]:
# Read Students CSV
student_file = "Pandas_Data/students_complete.csv"
student_file_df = pd.read_csv(student_file)

# student_file_df.head()

In [7]:
# Average District score for math & reading
average_math = student_file_df["math_score"].mean()
average_read = student_file_df["reading_score"].mean()

In [8]:
# District percentage passing reading
passing_read_df = student_file_df.loc[student_file_df["reading_score"] >= 70]
percent_passing_read_count = passing_read_df["reading_score"].count()
percent_passing_read = percent_passing_read_count/total_students
# percent_passing_read

In [9]:
# District percentage passing math
passing_math_df = student_file_df.loc[student_file_df["math_score"] >= 70]
percent_passing_math_count = passing_math_df["math_score"].count()
percent_passing_math = percent_passing_math_count/total_students 
# percent_passing_math

In [10]:
# District percentage passing reading
overall_passing = (percent_passing_math + percent_passing_read)/2
# overall_passing

In [11]:
# Disctrict Summary Print-Out
District_Summary = pd.DataFrame({"Total Number of Schools":[total_num_schools],
                                "Total Number of Students":[total_students],
                                "Total Budget":[total_budget],
                                "Average Math Score":[average_math],
                                "Average Reading Score":[average_read],
                                "Passing Math":[percent_passing_math],
                                "Passing Reading":[percent_passing_read],
                                "Overall Passing":[overall_passing]})
District_Summary

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
0,11,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

In [12]:
# Merged DataFrames
school_student_df = pd.merge(student_file_df,school_file_df, how = "left", on = ["school_name","school_name"])
# school_student_df.head()

In [13]:
# Per School Calculations/pre-printouts
student_count_hs = school_student_df["school_name"].value_counts()
type_hs = school_student_df.groupby(["school_name"])["type"].max()
school_budget = school_student_df.groupby(["school_name"]).mean()["budget"]
perschool_spending = school_budget/student_count
mean_math_score = school_student_df.groupby(["school_name"]).mean()["math_score"]
mean_read_score = school_student_df.groupby(["school_name"]).mean()["reading_score"]

In [14]:
# % passing reading by School
passing_read_df_hs = school_student_df.loc[student_file_df["reading_score"] >= 70]
percent_passing_read_hs_count = school_student_df.groupby(["school_name"]).mean()["reading_score"]
# percent_passing_read_hs_count = passing_read_df_hs["reading_score"].count()
# percent_passing_read_hs = school_student_df.groupby(["school_name"])["size"].max()

In [15]:
# # % passing math by School
passing_math_df_hs = school_student_df.loc[school_student_df["math_score"] >= 70]
percent_passing_math_hs_count = school_student_df.groupby(["school_name"]).mean()["math_score"]
# # percent_passing_math_hs_count = passing_math_df_hs["math_score"].count()
# # percent_passing_math_hs = school_student_df.groupby(["school_name"])["size"].max()
# percent_passing_math_hs_count

In [16]:
# Both passing percentage
both_passing_percentage = (percent_passing_math_hs_count + percent_passing_read_hs_count)/2
# both_passing_percentage

In [17]:
# General print out for by school stats
Schools_Summary = pd.DataFrame({"School Type":type_hs,
                                "Student Count":student_count_hs,
                                "School Budget":school_budget,
                                "Per Student Budget":perschool_spending,
                                "Average Math Score":mean_math_score,
                                "Average Reading Score":mean_read_score,
                                "School Passing Reading":percent_passing_read_hs_count,
                                "School Passing Math":percent_passing_math_hs_count,
                                "School Overall Passing":both_passing_percentage})
Schools_Summary

,School Type,Student Count,School Budget,Per Student Budget,Average Math Score,Average Reading Score,School Passing Reading,School Passing Math,School Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,81.033963,77.048432,79.041198
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,83.975780,83.061895,83.518837
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,81.158020,76.711767,78.934893
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,80.746258,77.102592,78.924425
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,83.816757,83.351499,83.584128
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,80.934412,77.289752,79.112082
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,83.814988,83.803279,83.809133
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,81.182722,76.629414,78.906068
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,80.966394,77.072464,79.019429
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,84.044699,83.839917,83.942308
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,80.744686,76.842711,78.793698
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,83.725724,83.359455,83.542589
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,83.848930,83.418349,83.633639
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,83.989488,83.274201,83.631844
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,83.955000,83.682222,83.818611

In [18]:
# Top Schools by Passing %
Schools_Summary["School Overall Passing"].sort_values(ascending=False).head()
# Top

Pena High School      83.942308
Wright High School    83.818611
Holden High School    83.809133
Thomas High School    83.633639
Wilson High School    83.631844
Name: School Overall Passing, dtype: float64

In [19]:
# Bottom Schools by Passing %
Schools_Summary["School Overall Passing"].sort_values().head()
# Bottom_Summary = Schools_Summary[(school_student_df["school_name"]=="Pena High School")] 
# Bottom_Summary

Rodriguez High School    78.793698
Huang High School        78.906068
Ford High School         78.924425
Figueroa High School     78.934893
Johnson High School      79.019429
Name: School Overall Passing, dtype: float64

In [20]:
# Filter by 9th Grade ***need to do: tenth, eleventh, twelfth
ninth_graders = school_student_df[(school_student_df["grade"]=="9th")]
tenth_graders = school_student_df[(school_student_df["grade"]=="10th")]
eleventh_graders = school_student_df[(school_student_df["grade"]=="11th")]
twelfth_graders = school_student_df[(school_student_df["grade"]=="12th")]
# twelfth_graders

In [21]:
# 9th Grade average Math & Reading score by School ***Need to do tenth, eleventh, twelfth
ninth_graders_scores_math = ninth_graders.groupby(["school_name"]).mean()["math_score"]
ninth_graders_scores_read = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
# 10th Grade average Math & Reading score by School
tenth_graders_scores_math = tenth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores_read = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
# 11th Grade average Math & Reading score by School
eleventh_graders_scores_math = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores_read = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
# 12th Grade average Math & Reading score by School
twelfth_graders_scores_math = ninth_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores_read = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
# twelfth_graders_scores_read

In [22]:
# Print out by Grade ***Add tenth, eleventh, twelfth
scores_by_grade = pd.DataFrame({"Ninth Math":ninth_graders_scores_math,
                                "Ninth Reading":ninth_graders_scores_read,
                               "Tenth Math":tenth_graders_scores_math,
                                "Tenth Reading":tenth_graders_scores_read,
                               "Eleventh Math":eleventh_graders_scores_math,
                                "Eleventh Reading":eleventh_graders_scores_read,
                               "Twelfth Math":twelfth_graders_scores_math,
                                "Twelfth Reading":twelfth_graders_scores_read})
scores_by_grade

,Ninth Math,Ninth Reading,Tenth Math,Tenth Reading,Eleventh Math,Eleventh Reading,Twelfth Math,Twelfth Reading
school_name,,,,,,,,
Bailey High School,77.083676,81.303155,76.996772,80.907183,77.515588,80.945643,77.083676,81.303155
Cabrera High School,83.094697,83.676136,83.154506,84.253219,82.765560,83.788382,83.094697,83.676136
Figueroa High School,76.403037,81.198598,76.539974,81.408912,76.884344,80.640339,76.403037,81.198598
Ford High School,77.361345,80.632653,77.672316,81.262712,76.918058,80.403642,77.361345,80.632653
Griffin High School,82.044010,83.369193,84.229064,83.706897,83.842105,84.288089,82.044010,83.369193
Hernandez High School,77.438495,80.866860,77.337408,80.660147,77.136029,81.396140,77.438495,80.866860
Holden High School,83.787402,83.677165,83.429825,83.324561,85.000000,83.815534,83.787402,83.677165
Huang High School,77.027251,81.290284,75.908735,81.512386,76.446602,81.417476,77.027251,81.290284
Johnson High School,77.187857,81.260714,76.691117,80.773431,77.491653,80.616027,77.187857,81.260714
Pena High School,83.625455,83.807273,83.372000,83.612000,84.328125,84.335938,83.625455,83.807273
Rodriguez High School,76.859966,80.993127,76.612500,80.629808,76.395626,80.864811,76.859966,80.993127
Shelton High School,83.420755,84.122642,82.917411,83.441964,83.383495,84.373786,83.420755,84.122642
Thomas High School,83.590022,83.728850,83.087886,84.254157,83.498795,83.585542,83.590022,83.728850
Wilson High School,83.085578,83.939778,83.724422,84.021452,83.195326,83.764608,83.085578,83.939778
Wright High School,83.264706,83.833333,84.010288,83.812757,83.836782,84.156322,83.264706,83.833333

In [23]:
perschool_spending.max()

655.0

In [24]:
perschool_spending.min()

578.0

In [25]:
# Scores by school Spending
spending_bins = [0, 590, 620, 640, 660]
spending_labels = ["Low", "Medium-Low", "Medium-High", "High"]
Schools_Summary["Scores by School Spending"] = pd.cut(Schools_Summary["Per Student Budget"], bins=spending_bins, labels=spending_labels)
# Schools_Summary.head()

In [26]:
# Creating groups based off of the bins
Schools_Summary_Spending = Schools_Summary.groupby("Scores by School Spending")
Schools_Summary_Spending.mean()

,Student Count,School Budget,Per Student Budget,Average Math Score,Average Reading Score,School Passing Reading,School Passing Math,School Overall Passing
Scores by School Spending,,,,,,,,
Low,1592.0,924604.25,581.00,83.455399,83.933814,83.933814,83.455399,83.694607
Medium-Low,1361.5,821229.00,604.50,83.599686,83.885211,83.885211,83.599686,83.742449
Medium-High,3005.4,1903466.40,633.40,79.474551,82.120471,82.120471,79.474551,80.797511
High,3763.0,2447805.25,650.25,77.023555,80.957446,80.957446,77.023555,78.990501

In [27]:
student_count.max()

4976

In [28]:
student_count.min()

427

In [29]:
# Scores by school Size
size_bins = [0, 1000, 3500, 5000]
size_labels = ["Small", "Medium", "Large"]
Schools_Summary["Scores by School Size"] = pd.cut(Schools_Summary["Student Count"], bins=size_bins, labels=size_labels)

In [30]:
# Creating groups based off the bins
Schools_Summary_Size = Schools_Summary.groupby("Scores by School Size")
Schools_Summary_Size.mean()

,Student Count,School Budget,Per Student Budget,Average Math Score,Average Reading Score,School Passing Reading,School Passing Math,School Overall Passing
Scores by School Size,,,,,,,,
Small,694.500000,4.169725e+05,595.00,83.821598,83.929843,83.929843,83.821598,83.875721
Medium,2156.666667,1.336280e+06,616.00,81.176821,82.933187,82.933187,81.176821,82.055004
Large,4592.750000,2.947240e+06,641.75,77.063340,80.919864,80.919864,77.063340,78.991602

In [31]:
# Scores by Type: Charter
Schools_Summary_Charter = Schools_Summary.loc[Schools_Summary["School Type"] == "Charter", :]
Schools_Summary_Charter.head()

,School Type,Student Count,School Budget,Per Student Budget,Average Math Score,Average Reading Score,School Passing Reading,School Passing Math,School Overall Passing,Scores by School Spending,Scores by School Size
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,83.975780,83.061895,83.518837,Low,Medium
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,83.816757,83.351499,83.584128,Medium-High,Medium
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,83.814988,83.803279,83.809133,Low,Small
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,84.044699,83.839917,83.942308,Medium-Low,Small
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,83.725724,83.359455,83.542589,Medium-Low,Medium

In [32]:
# Scores by Type: District
Schools_Summary_District = Schools_Summary.loc[Schools_Summary["School Type"] == "District", :]
Schools_Summary_District.head()

,School Type,Student Count,School Budget,Per Student Budget,Average Math Score,Average Reading Score,School Passing Reading,School Passing Math,School Overall Passing,Scores by School Spending,Scores by School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,81.033963,77.048432,79.041198,Medium-High,Large
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,81.158020,76.711767,78.934893,Medium-High,Medium
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,80.746258,77.102592,78.924425,High,Medium
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,80.934412,77.289752,79.112082,High,Large
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,81.182722,76.629414,78.906068,High,Medium